<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All Users</h1>
    {% for user in users %}
    <h2>{{user.name|capfirst|truncatechars:7}}</h2>
    <h2>{{user.city}}</h2>
    <p>{{user.description|capfirst|truncatewords:7}}</p>
    <a href="{% url 'user-profile' user.id %}">Visit profile</a>
    <hr>
    {% empty %}
    <h2>No data available</h2>
    {% endfor %}
</body>
</html>